@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src: url(../fonts/icomoon2.woff2);
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/UbuntuMono-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/UbuntuMono-Italic.woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/UbuntuMono-Bold.woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UbuntuMono-BoldItalic.woff2');
    font-weight: 700;
    font-style: italic;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
aside, section, article, header, footer, main, input,
textarea, button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    background: none;
    box-sizing: content-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    max-height: 1000000px;
}
input, textarea {
    font: inherit;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
	display: block;
	color: inherit;
}
a:hover {
	text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
h1 {
    font-size: 40px;
    line-height: 50px;
}
.container {
    margin: 0 auto;
    width: calc(100% - 80px);
}


/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}

.to_left::before {
    content: '\e905';
}
.to_right::before {
    content: '\e904';
}

/* main */
body {
	font: 20px/30px 'Ubuntu';
    color: #FFD700;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

header {
	height: 200px;
    flex: none;
	background: url(../images/oblBack.jpg) no-repeat;
    color: #fff;
	position: relative;
	border-bottom: 4px dashed darkGray;
}
main {
    flex: 1 1 auto;
	background: linear-gradient(rgba(192, 192, 192, .9), rgba(119, 136, 153, .95)), url(../images/mbBack.jpg);
}
p {
	text-align: justify;
}
footer {
	padding: 10px;
    flex: none;
    background: url(../images/denimBack.jpg);
    color: #fff;
	border-top: 4px dashed orange;
}
footer > .container:first-child {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
}
footer > .container:last-child {
	text-align: center;
}
.tShirtSl {
	background: url(../images/tssp.jpg) center center no-repeat;
	background-size: 100%;
}
.metallum {
	background: url(../images/metalArchives.jpg) center center no-repeat;
	background-size: 100%;
}
.tShirtSl > a {
	height: 50px;
	width: 100%;
}
.metallum > a {
	height: 50px;
	width: 100%;
}
.tShirtSl, .metallum {
	display: flex;
	align-items: center;
	min-width: 70px;
}

/* modals */
.screener {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
.modal {
    background: linear-gradient(rgba(192, 192, 192, .7), rgba(119, 136, 153, .75));
    border-radius: 10px;
    position: fixed;
    left: calc(50% - 240px);
    width: 400px;
	height: fit-content;
    top: 200px;
    padding: 40px;
    z-index: 10;
    display: block;
}
.personal {
	display: none;
	flex-direction: column;
}
.personal > input {
	display: inline-block;
	border-radius: 3px;
	background: white;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: crimson;
    font-size: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
	text-align: center;
}
.close:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
}

#citymodal p {
    color: crimson;
    cursor: pointer;
}

#citysearch {
    border: 1px solid crimson;
    color: crimson;
    display: block;
    padding: 5px 15px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
#citysearch::placeholder {
    color: rgba(220, 20, 60, .5);
    font-style: italic;
}
.columns {
    columns: 185px 2;
    gap: 30px;
}
#lightbox img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}
#lightbox.ready img {
    opacity: 1;
}

/* header */
#city {
    cursor: pointer;
    font-weight: 500;
	position: absolute;
	top: 15px;
	right: 15px;
}

header h1 {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;

}
.topmenu {
    padding: 10px 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	align-items: center;
}
.topmenu a {
    display: inline-block;
    margin-left: 20px;
    color: #eee;
	border-right: 4px double silver;
	padding-right: 20px;
}
.topmenu a:first-child {
    margin-left: 0;
}
.topmenu a:last-child {
	border: none;
}
.topmenu .current {
    cursor: default;
    font-weight: 700;
}
.topmenu .current:hover span {
    text-decoration: none;
}
.search {
	padding-bottom: 5px;
}
.searchForm {
	height: 30px;
	width: 350px;
	background: white;
	border: 1px solid transparent;
	border-radius: 5px;
	display: inline-block;
}
.searchForm > input[type="search"] {
	width: calc(100% - 63px);
	vertical-align: middle;
}
.searchForm > input[type="submit"]{
	background: lightGray;
	border-radius: 3px;
	cursor: pointer;
}
.search > a {
	height: 30px;
	width: 30px;
	background: lightGray;
	display: block;
	border: 1px solid transparent;
	border-radius: 5px;
	float: right;
	margin-right: 10px;
	text-align: center;
	
}

.mini {
	display: none;
}

/* action */
.action {
	padding: 30px 10px;
	margin: auto;
    color: #B22222;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 300px);
	grid-gap: 20px;
}
.promoBlock {
	display: flex;
	border-radius: 10px;
	background: url(../images/wflBack.jpg);
	background-size: cover;
	text-align: center;
}
.promoBlock:first-child {
	vertical-align: middle;
	background-image: url(../images/skullTr.png), url(../images/wflBack.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: right, center;
	background-size: contain, cover;
}
.promoBlock:nth-of-type(3) {
	text-align: left;
}

.action .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90px;
}
.action p {
    width: 75%;
    text-align: center;
}
.actiontimer {
    display: block;
    line-height: 50px;
}
.actiontimer span {
    font-size: 40px;
    line-height: 50px;
    vertical-align: top;
}

/* slider */
.slider {
    width: 664px;
    height: 604px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
}
.slider_desk {
    border: 1px solid black;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.slider_block {
    border: 1px solid black;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    z-index: -1;
    top: 0;
    background: #fff;
}
.slider_block > img {
	width: 100%;
}
.slider_block.next {
    left: 660px;
    z-index: 1;
}
.slider_block.prev {
    left: -660px;
    z-index: 1;
}
.slider_block.was_current {
    transition: left .5s;
}
.slider_block.current {
    left: 0;
    z-index: 1;
    transition: left .5s;
}
.slider button {
    position: absolute;
    border: 1px solid silver;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    line-height: 40px;
    color: silver;
    opacity: 0;
}
.slider .to_left {
    left: 8%;
}
.slider .to_right {
    right: 8%;
}
.slider_points {
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}
.slider_points span {
	flex: none;
    border-radius: 50%;
	border: 1px solid silver;
	height: 22px;
	width: 22px;
	cursor: pointer;
    opacity: 0;
}
.slider_points span.active {
    background: silver;
}
.slider_desk:hover ~ button,
.slider button:hover,
.slider_desk:hover ~ .slider_points span,
.slider_points:hover span {
    opacity: 1;
}
#slider2 {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: inherit;
}
#slider2 > .slider_desk {
	height: 100%;
	width: 100%;
	border-radius: inherit;
}
#slider2 .slider_block {
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	border-radius: inherit;
	background: url(../images/wflBack.jpg);
	background-size: cover;
	
}
img[src="images/story.jpg"] {
	border-radius: inherit;
}
.slider-block > img {
	width: 100%;
}
/* catalog */
.catalog .container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
	margin-bottom: 10px;
}
.catalog aside {
    flex: 0 0 360px;
    background: gainsboro;
    color: white;
}
.catmenu {
    padding: 20px;
}
.catmenu a {
    color: white;
}
.catmenu ul {
    margin-top: 10px;
}
.catmenu > ul > li {
    padding: 5px 30px 5px 0;
    border-top: 1px dashed white;
}
.catmenu ul ul {
    margin: 0;
    position: relative;
    left: 30px;
}
.catmenu ul ul::before {
    content: '\23f7';
    position: absolute;
    top: -30px;
    right: 0;
    transition: transform 1s;
    cursor: pointer;
}
.catmenu .open::before {
    transform: rotateX(180deg);
}
.catmenu li li {
    font-size: 14px;
    line-height: 30px;
}
.catmenu.simple li li {
    display: none;
}
.catmenu.simple .open li {
    display: list-item;
}
.catalog .filters {
    padding: 20px;
}
.filters input {
    border: 1px solid white;
    color: white;
    padding: 2px 5px;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}
#slider-range {
    margin: 20px 0;
}
#slider-range .ui-widget-header {
    background: crimson;
}
.catalog article {
    
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.cat-item {
    width: 140px;
    height: 290px;
	color: crimson;
    border: 3px solid red;
	border-radius: 10px;
	background: url(../images/wflBack.jpg);
	background-size: cover;
    box-shadow: 10px 5px 5px firebrick;
	font-size: 14px;
}
.cat-item > img {
	width: 100%;
	border-radius: inherit;
}

/* breadcrumbs */
.breadcrumbs {
    padding: 10px 0;
    height: 20px;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
    font-size: 12px;
    line-height: 20px;
}
.breadcrumbs a::after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 20px;
    content: '\203a';
    text-align: center;
    font-size: 20px;
    line-height: 16px;
}

/* product */
.product {
    display: flex;
    gap: 30px;
}
.offer {
	min-width: 180px;
}
.images {
    flex: 0 0 470px;
}
.bigimage {
    width: 450px;
    border: 1px solid red;
    padding: 9px;
	cursor: pointer;
}
.bigimage > img {
	width: 100%;
}
.gallery {
    width: 440px;
    height: 50px;
    margin-top: 20px;
	margin-bottom: 15px;
    padding: 0 15px;
    position: relative;
	cursor: pointer;
}
.gallery button {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: red;
	z-index: 5;
}
.gallery .disabled {
    cursor: default;
    opacity: .3;
}
.gallery button:hover {
    color: black;
}
.gallery .disabled:hover {
    color: blue;
}
.gallery .gal_left {
    left: 0;
}
.gallery .gal_right {
    right: 0;
}
.gallery button span {
    font: bold 50px/50px 'Ubuntu';
    display: inline-block;
    margin-top: -9px;
}
.gallery > div {
    width: 440px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.gallery .rail {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}
.product .price {
    color: red;
    font-size: 50px;
    line-height: 70px;
}
.product .price span::after {
    content: '\20BD'
}
.cat-item > a {
	display: block;
	width: 100%;
}

/* order */
.order .icon {
    font-family: 'icomoon' !important;
    cursor: pointer;
}
.table tfoot th {
    border-bottom: none;
}
.table .allsum span {
    color: red;
}
.table .allsum span::after {
    content: '\20\20BD'
}
.table .index {
    text-align: center;
    width: 50px;
}
.table .qty {
    text-align: center;
    width: 200px;
}
.table .price {
    text-align: center;
    width: 100px;
}
.table .sum {
    text-align: center;
    width: 100px;
}
.table td.delete {
    text-align: center;
    width: 100px;
}
.table .qty strong {
    min-width: 100px;
    text-align: center;
    display: inline-block;
    user-select: none;
}
.table .qty span {
    border-radius: 50%;
    border: 1px solid black;
    background: blue;
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
}
.table .qty .minus {
    margin-right: 10px;
}
.table .qty .plus {
    margin-left: 10px;
}
#order {
    height: 30px;
    text-align: center;
}
.container.empty,
.empty .container {
    display: none;
}
.empty .container.empty {
    display: block;
	text-align: center;
	margin: 100px auto;
}

/* calendar */
#calendar {
    height: auto;
	color: red;
	cursor: pointer;
}
.dp_grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
/* contacts*/
.contacts {
	display: grid;
	grid-template-columns: repeat(2, auto);
	line-height: 35px;
}

a > img {
	height: 30px;
	margin-right: 5px;
}
a > img:not(img[alt="YouTube"]) {
	margin-left: 15px;
}

iframe {
	display: block;
	padding: 15px;
	height: 450px;
	width: calc(100% - 50px);
	margin: auto;
}
/* adaptive */
@media (max-width: 1400px) {
    .container {
        width: calc(100% - 100px);
        margin: 0 20px;
    }

@media (max-width: 769px) {
	.container {
    margin: 0 auto;
    width: calc(100% - 80px);
	}
	header {
		height: auto;
	}
	.search > h1 {
		margin-top: 50px;
	}
	.searchForm {
		width: 300px;
	}
	.action {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 200px);
		height: auto;
	}
	#slider1 {
		width: 495px;
		height: 495px;
	}
	
	#slider1 > slider_desk {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}
	.slider {
		width: 100%;
		height: 100%;
	}
	.contacts {
		display: flex;
		flex-direction: column;
	}
	.slider button {
		position: absolute;
		border: 1px solid silver;
		height: 30px;
		width: 45px;
		border-radius: 8px;
		top: 50%;
		z-index: 1;
		cursor: pointer;
		font-size: 30px;
		line-height: 30px;
		color: silver;
		opacity: 0;	
	}
	.slider_points {
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;
		height: 18px;
		display: flex;
		justify-content: center;
		gap: 10px;
		z-index: 1;
	}
	.slider_points span {
		height: 17px;
		width: 17px;
		
	}
	.product {
		flex-direction: column;
	}
	footer > .container:first-child {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.images {
    flex: 0 0 540px;
	}
	.bigimage {
		width: 520px;
	}
	.gallery {
		width: 510px;
		justify-content: center;
	}
	.gallery > div {
		width: 100%;

	}
	.catalog > .container {
		flex-direction: column;
		flex: auto;
	}
	
}
@media (max-width: 729px) {
	.images {
    flex: 0 0 500px;
	}
	.bigimage {
		width: 480px;
	}
	.gallery {
		width: 470px;
		overflow: hidden;
	}
}
@media (max-width: 689px) {
	.images {
    flex: 0 0 460px;
	}
	.bigimage {
		width: 440px;
	}
	.gallery {
		width: 430px;
	}
}
@media (max-width: 649px) {
	.images {
    flex: 0 0 420px;
	}
	.bigimage {
		width: 400px;
	}
	.gallery {
		width: 390px;
	}
}
@media (max-width: 605px) {
	.container {
		margin: 0 auto;
		width: calc(100% - 75px);
	}
	.txt {
		display: none;
	}
	.search > a:last-child {
		display: none;
	}
	.mini {
		display: block;
		height: 30px;
		width: 30px;
		background: lightGray;
		border-radius: 5px;
		color: black;
		text-align: center;
	}
	.images {
    flex: 0 0 380px;
	}
	.bigimage {
		width: 360px;
	}
	.gallery {
		width: 350px;
	}
	.modal {
	left: calc(50% - 80px);
    width: 300px;
	top: 100px;
	}
}
	

@media (max-width: 565px) {
	.container {
    margin: 0 auto;
    width: calc(100% - 70px);
	}
	header {
		height: auto;
	}
	#slider1 {
		width: 350px;
		height: 350px;
	}
	.slider button {
		height: 20px;
		width: 30px;
		font-size: 20px;
		line-height: 20px;
	}
	.slider_points {
		position: absolute;
		bottom: 7%;
		left: 0;
		right: 0;
		height: 12px;
		display: flex;
		justify-content: center;
		gap: 10px;
		z-index: 1;
	}
	.slider_points span {
		flex: none;
		border-radius: 50%;
		border: 1px solid silver;
		height: 11px;
		width: 11px;
		cursor: pointer;
		opacity: 0;
	}
	footer > .container:first-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.metallum, .tShirtSl {
		width: 220px;
		background-size: contain;
		margin: auto;
	}
	.images {
    flex: 0 0 340px;
	}
	.bigimage {
		width: 320px;
	}
	.gallery {
		width: 310px;
		height: 35px;
	}
	.gallery button {
		height: 35px;
	}
	.gallery button span {
		font: bold 35px/35x 'Ubuntu';
	}
	.gallery > div {
		width: 320px;
		height: 35px;
	}
	.gallery .rail {
		height: 35px;
	}
	table {
		font-size: 16px;
		line-height: 22px;
	}
}
@media (max-width: 480px) {
	.container {
    margin: 0 auto;
    width: calc(100% - 60px);
	}
	.topmenu a {
    border: none;
	}
	.searchForm {
		width: 220px;
	}
	.modal {
    left: calc(50% - 50px);
    width: 250px;
	}
}
@media (max-width: 428px) {
	.container {
    margin: 0 auto;
    width: calc(100% - 40px);
	}
	table {
		font-size: 14px;
		line-height: 19px;
	}
	.images {
    flex: 0 0 300px;
	}
	.bigimage {
		width: 280px;
	}
	.gallery {
		width: 270px;
	}
}